//keyframes


@keyframes animatedBackground {
    0 {
        transform: translate(-750px, 0px)
    }
    100% {
        transform: translate( 0px, -60px)
    }
}
@keyframes balkon {

    0 {
    	transform: scale(1.04)
    }
	25% {
		transform: scale(1.03)
	}
	50% {
		transform: scale(1.02)
	}
	75%{
		transform: scale(1.01)
	}
    100% {
        transform: scale(1.0)
    }

}
@keyframes Ball{
    0 {
        transform: translate(0px, 25px)
    }
    50%{
		transform: translate(0px, -32px)
    }
    100% {
        transform: translate(0px, 7px)
    }
}

//animate classes

#balkon{
	background-image: url("../../img/bg_3.png");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1.04);
	background-position: center center;
	animation: balkon 6s linear forwards;
	@include md{
		animation: none;
		transform: scale(1.0);
		background-position-y: 199px;
		background-position-x: 51%;
		background-size: 215%;

	}
}

#fly_car{
	position: absolute;
	transform: translate(-7%, 86%);
	@include md{
		transform: translate(-32%, 146%) scale(0.9)
	} 
	@include lg{
		transform: translate(-20%, 50%) scale(0.7);
	}

}

.ball_1{
	animation: Ball 2s linear forwards infinite;
	@include md{
		transform: translate(-89%, 238%) scale(0.6);
	}
}
.ball_2{
	animation: Ball 2.5s linear forwards infinite;
	animation-delay: 0.5s;
	@include md{
		transform: translate(-93%, 243%) scale(0.6)
	}
}
.ball_3{
	animation: Ball 1.7s linear forwards infinite;
	animation-delay: 0s;
	@include md{
		transform: translate(-160%, 268%) scale(0.6)
	}
}
.ball_4{
	animation: Ball 2.5s linear forwards infinite;
	animation-delay: 0.5s;
	@include md{
		transform: translate(-93%, 243%) scale(0.6)
	}
}
.ball_4{
	animation: Ball 2.5s linear forwards infinite;
	animation-delay: 0s;
	@include md{
		transform: translate(-351%, 459%) scale(0.6)
	}
}
.ball_5{
	animation: Ball 2.5s linear forwards infinite;
	animation-delay: 0.5s;
	@include md{
		transform: translate(-800%, 973%) scale(0.8);
	}
}
#earth_1_img{

	width:100%;
	top: -10%;
	animation: animatedBackground 7.0s linear forwards;
	@include md{
		animation: none;
		transform: translate(0%, 120%) scale(2);
	}
}
.earth_1{
	position: absolute;
	z-index: -1;
}
