$orange: #f3a10d;
$white: #ffffff;
$black: #000000;



%textUp{
	text-transform: uppercase;
} 

.orange{
	color: orange;
}
.opacity{
	opacity: 0;
}
	

//Media 
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}

@mixin xs {
  @media (min-width: 320px) and (max-width: 575px) {
    @content;
  }
}

@mixin marginLR($marginL, $marginR) {
 	margin-left: $marginL;
 	margin-right: $marginR;
 }

 @mixin marginTB($marginT, $marginB) {
 	margin-top: $marginT;
 	margin-bottom: $marginB;
 }

 @mixin paddingLR($paddingL, $paddingR) {
 	padding-left: $paddingL;
 	padding-right: $paddingR;
 } 

 @mixin paddingTB($paddingT, $paddingB) {
 	padding-top: $paddingT;
 	padding-bottom: $paddingB;
 } 

//fonts
%USHText {
	font-family: 'Uni Sans Heavy Caps', sans-serif;
	font-weight: 900;
}
%RobotoBText{
	font-family: 'RobotoB', sans-serif;
	font-weight: 700;
}
%RobotoText{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
%PTSansText{
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}
%PTSansBText{
	font-family: 'PT Sans B', sans-serif;
	font-weight: 700;
}
%OTexl{
	font-family: 'O', sans-serif;
	font-weight: 400;
}
%OTexl{
	font-family: 'O L', sans-serif;
	font-weight: 300;
}
%FAText{
	font-family: 'FontAwesome', sans-serif;
	font-weight: 400;
}

//General styles
html{
	font-size: 16px;
}
.container {
	@include xl{
		width: 1264px;
	}
}

a{
	color: $white;
	&:hover{
		color: $orange;
	}
}
//orangehex
/*
.orangehex{
	margin-top: 57px;
	display: inline-block;
	position: relative;
  	width: 104px; 
  	height: 60.04px;
  	background-color: #f3a10dab;
  	margin: 30.02px 0;
  	z-index: 10;
  	margin-top: 12px;
  }
	.orangehex:before,
	.orangehex:after {
		content: "";
		position: absolute;
		width: 0;
		border-left: 52px solid transparent;
		border-right: 52px solid transparent;
		margin-left: -50%;
	}

	.orangehex:before {
		bottom: 100%;
		border-bottom: 30.02px solid #f3a10dab;
		margin-left: -50%;
	}

<<<<<<< HEAD
	.orangehex:after {
		top: 100%;
		width: 0;
		border-top: 30.02px solid #f3a10dab;
		margin-left: -50%;
	}
//orangehex_min

.orangehex_min{
  	position: relative;
  	width: 40px; 
  	height: 23.09px;
  	background-color: #f3a10dab;
  	margin: 11.55px 0;
=======
@keyframes animatedBackground {
    0 {
        background-position: -250px -200px
    }
    100% {
        background-position: 0px -60px
    }
>>>>>>> bebdfb258719eb04e68bd65c93f002e348dc917c
}
@keyframes balkon {

<<<<<<< HEAD
.orangehex_min:before,
.orangehex_min:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.orangehex_min:before {
  bottom: 100%;
  border-bottom: 11.55px solid #f3a10dab;
}

.oranbgehex_min:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #f3a10dab;
}
*/
=======
    0 {
    	background-size: 104%
    }
	25% {
		background-size: 103%
	}
	50% {
		background-size: 102%
	}
	75%{
		background-size: 101%
	}
    100% {
        background-size: 100%
    }

}
@keyframes Ball{
    0 {
        background-position: 100px 106px
    }
    50%{
		background-position: 100px 40px
    }
    100% {
        background-position: 100px 106px
    }
}


#balkon{
	height: auto;
	width: 100%;
	background-image: url("../../img/bg_3.png");
	animation: balkon 10s linear forwards;
	

}

#earth{
	height: auto;
	width:100%;
	background-image: url("../../img/space.jpg");
	background-size: cover;
	animation: animatedBackground 13.0s linear forwards;
	
	
}


>>>>>>> bebdfb258719eb04e68bd65c93f002e348dc917c
